﻿@using BnLog.DAL.Models.Entity;
@model Post

<p>
    <a method="get" asp-controller="Post" asp-action="GetPosts">Перейти к списку всех статей </a>
</p>
<div class="card w-75">
    <h1 class="card-title">Title: @Model.Title</h1>
    <h5>Author: @Model.AuthorId</h5>
    <div>Comments [ @Model.Comments.Count() ]</div>
    @{
        <div>
            <h6>Tags:
                 @foreach (var tag in Model.Tags)
                 {
                    <span class="badge rounded-pill text-bg-success tagInfo" display:inline;">@tag.Name</span>
                 }
            </h6>
        </div>
    }
    <p>Description: @Model.Description</p>
    <p>Body: @Model.Body</p>

</div>
@{
    <div>
        <a class="btn btn-outline-secondary" method="get" asp-controller="Comment" asp-action="CreateComment" asp-route-postId="@Model.Id">Добавить комментарий</a>
    </div>
    <p>
        <a method="get" asp-controller="Post" asp-action="GetPosts">Перейти к списку всех статей </a>
    </p>
    if (Model.Comments.Count() == 0)
    {
        <h5 style="color: gray;">Коментарии отсутствуют</h5>
    }
    else
    {
        foreach (var comment in Model.Comments)
        {
            <div class="card w-75">
                <h6 class="card-title">@comment.Title</h6>
                <p>@comment.Body</p>
                <p>
                    Author: @comment.Author Created: @comment.CreatedData
                @if (User.IsInRole("Admin") || User.IsInRole("Администратор") || (User.Identity.Name == comment.Author) )
                {
                    @*
                    <a class="btn btn-outline-info button" method="get" asp-controller="Comment" asp-action="EditComment" asp-route-id="@comment.Id">Редактировать</a> 
                    <a class="btn btn-outline-danger button" method="post" asp-controller="Comment" asp-action="RemoveComment" asp-route-id="@comment.Id">Удалить</a>
                    *@
                    <span>
                        <a method="get" asp-controller="Comment" asp-action="EditComment" asp-route-id="@comment.Id">Редактировать</a>|
                        <a method="post" asp-controller="Comment" asp-action="RemoveComment" asp-route-id="@comment.Id">Удалить </a>
                    </span>
                }
                </p>
            </div>
        }
    }
    <p>
        <a method="get" asp-controller="Post" asp-action="GetPosts">Перейти к списку всех статей </a>
    </p>
}
